body {
    padding: 20px;
}

.recipe-links {
    display:flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    justify-content: start;
    align-items: start;
}

.recipe-links li {
    margin-bottom: 20px;
}

a {
    background-color: whitesmoke;
    border: 1px solid rgb(228, 227, 227);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    color: whitesmoke;
}

section {
    border-top: 1px solid black;
}

img {
    width: 100%;
}